body {
    font-family: monospace;
    background-color: #f7f7f7;
    color: #333333;
    text-align: center;
    margin: 0;
    padding: 0;
}
header {
    background-color: #89d6fb;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}
nav {
    background-color: #333333;
    padding: 10px;
}
nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
}

nav a.active {
    font-weight: bold;
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img.one{
    width: 20%;
    height: 20%;
}

#draggable {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    text-align: center;
    padding: 10px;
    border: 1px solid #aaa;
    cursor: move;
    margin-top: 20px;
  }
  

img.two{
    width: 50%;
    height: 50%;
}



.encrypt-box{
    background: #ffffff;
    padding: 15px;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}



.footer {
    display: none;
}

.bio_container{
    display: flex;
    align-items: center;
}
.bio-image {
    width: 150px;
    height: auto;
    margin-left: 20px;
}

.button  {
    background-color: #89d6fb;
    color: black;
    border-radius: 5px;
    text-align: center;
    border-width: 1px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    display: inline-block;
    margin-top: 20px
}

.button :hover  {
    background-color: #d4f0fc;
}

.buttonEncrypt  {
    background-color: #89d6fb;
    color: black;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 50px;
    margin-top: 20px;
    border-width: 1px;
}

.result-box  {
    border: 2px solid black;
    padding: 15px;
    font-family: monospace;
    margin-top: 15px;
}

.copy-icon  {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: transform 0.2s ease;
  
}

.buttonDraggable{
    background-color: #89d6fb;
    color: black;
    border-radius: 5px;
    text-align: center;
    border-width: 1px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    display: inline-block;
}

.drag  {
    width: 150px; 
    height: 150px; 
    background-color: #ddd; 
    text-align: center; 
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

input  {
    margin-top: 20px;
}

a {
    text-decoration: none;
}



